.mainheading{
    text-align: center;
    }
    
    #project{
    font-size: 100px;
    }
    
   
    
.btn {
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none; 
}



#cv1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKOA_j3wVAXR88MBXWCiVK-WZ9cw97wNQ5CWPjKcLsH-zoox3WEQ");
    background-size:cover;
    background-repeat: no-repeat;
}
  
#edu{
    background-image: url("https://ak4.picdn.net/shutterstock/videos/4635014/thumb/1.jpg");
     background-size:cover;
    background-repeat: no-repeat;
    text-align: center
}

#work{
    background-image: url("https://wallpapertag.com/wallpaper/full/b/9/0/121012-free-download-red-background-hd-1920x1080-for-iphone-5s.jpg");
     background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    color:black;
    
}


table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}

#PD{
    text-align: center;
}

.btn{
    margin-left: 40%;
margin-right: 210%;
width:20%;
}
  

      #main {
  text-align: center;
background-image: url("https://i.pinimg.com/originals/6f/64/99/6f6499a403cf64afea180b6419def4ef.jpg");
background-repeat: no-repeat;
background-size: cover
      }
      
      